.nopadding {
   padding: 0 !important;
}

.reduceMargin {
	margin-bottom: 5px  !important;	
}

#map {
	position: fixed;
}

#sidebar {	  
	  overflow-y: auto;	 
	  overflow-x: auto;	  
}

.list-group {	  
	  overflow-y: auto;	 
	  overflow-x: hidden;	  
}

.dont-break-out {  
  overflow-wrap: break-word;
  word-wrap: break-word;   
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


#ifw {	  
	max-width: 350px;	 
	max-height: 500px; 
}

#ifw-spinner {
 	margin: auto;
	text-align: center;
}

#sidebar-spinner {
 	margin: auto;
	text-align: center;
}

#ifw-body {	  
	overflow-y: hidden;	
	padding: 10px 5px 5px 5px;		  
}

#ifw-tips {
	overflow-y: auto;
	max-height: 200px;
}

.tips {

	padding: 3px 3px 0 0;
    margin-bottom: 10px;
    border-left: 3px solid #2196F3;
    background-color: #d9edf7;
}

.foursquareThanks {
	text-align: right;
}


