.nopadding {
   padding: 0 !important;
}

.reduceMargin {
	margin-bottom: 5px  !important;	
}

#map {
	position: fixed;
}

#sidebar {	  
	  overflow-y: auto;	 
	  overflow-x: auto;	  
}

.list-group {	  
	  overflow-y: auto;	 
	  overflow-x: hidden;	  
}

.dont-break-out {  
  overflow-wrap: break-word;
  word-wrap: break-word;   
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


#ifw {	  
	max-width: 350px;	  
}

#ifw-spinner {
 	margin: auto;
	text-align: center;
}

#sidebar-spinner {
 	margin: auto;
	text-align: center;
}

#ifw-body {	  
	overflow-y: auto;		  
}

.tips {
	overflow-y: auto;
	max-height: 200px;
}

.foursquareThanks {
	text-align: right;
}


